<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* * to soft scroll */
html{
    scroll-behavior: smooth;
}

/* * animated loading page */
.img-loading-page{
    animation: img-loading-page 1s 1 linear;
}
@keyframes img-loading-page {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.dotted-mode{
    display: inline-block;
    width: 14ch;
    overflow: hidden;
    white-space: nowrap;
    animation: dotted-mode 2s infinite linear;
}
@keyframes dotted-mode {
    from{
        width: 6.5ch;
    }
    to{
        width: 14ch;
    }
}
.show-and-hide{
    visibility: hidden;
    animation: show-and-hide 3s 1 linear;
}
@keyframes show-and-hide {
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}
/* * end animated loading page */

/** change icon animate */
.change-icon{
    animation: change-icon 0.25s 1 linear;
}
@keyframes change-icon {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

/* * hover cart & heart & save*/
.chang-mode{
    animation: chang-mode 2s infinite linear;
}
@keyframes chang-mode {
    0%{
        color: #d0b57d;
    }
    25%{
        color: white;
    }
    50%{
        color: #d0b57d;
    }
    75%{
        color: white;
    }
    100%{
        color: #d0b57d;
    }
}
.chang-mode-heart{
    animation: chang-mode-heart 2s infinite linear;
}
@keyframes chang-mode-heart {
    0%{
        color: #d0b57d;
    }
    25%{
        color: red;
    }
    50%{
        color: #d0b57d;
    }
    75%{
        color: red;
    }
    100%{
        color: #d0b57d;
    }
}
.chang-mode-save{
    animation: chang-mode-save 2s infinite linear;
}
@keyframes chang-mode-save {
    0%{
        color: #d0b57d;
    }
    25%{
        color: rgb(0, 200, 0);
    }
    50%{
        color: #d0b57d;
    }
    75%{
        color: rgb(0, 200, 0);
    }
    100%{
        color: #d0b57d;
    }
}

/** hide toggle */
.hideBtn{
    display: none;
}

/** hover style */
.blockedLinksHover{
    position: relative;
    text-decoration: none;
}
.blockedLinksHover::after{
    content: '';
    position: absolute;
    width: 0; 
    height: 2px; 
    bottom: -5px; 
    left: 0;
    background-color: #d0b57d; 
    transition: width 0.3s ease-in-out; 
}
.blockedLinksHover:hover::after{
    width: 100%;
}

.hover-add-button{
    position: relative;
    background: none;
    overflow: hidden;
}
.hover-add-button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #d0b57d; 
    transition: height 0.3s ease-in-out; 
    z-index: -1;
}
.hover-add-button:hover{
    color: black;
}
.hover-add-button:hover::after{
    height: 100%;
}

.hover-link-home{
    position: relative;
    background: none;
    overflow: hidden;
}
.hover-link-home::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #d0b57d;
    transition: height 0.3s ease-in-out; 
    z-index: -1;
}
.hover-link-home:hover{
    color: black;
}
.hover-link-home:hover::after{
    height: 100%;
}

.hover-add-product{
    position: relative;
    background: none;
    overflow: hidden;
    z-index: 1;
}
.hover-add-product::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #d0b57d; 
    transition: height 0.3s ease-in-out; 
    z-index: -1;
}
.hover-add-product:hover{
    color: black;
}
.hover-add-product:hover::after{
    height: 100%;
}

/** shadow img */
.shadow-img{
    box-shadow: 21px 20px 0px 20px white;
}

/* capital letter */
.capital-letter::first-letter{
    text-transform: uppercase;
}

/* password */
.cloth-password{
    display: none;
}
.open-password{
    display: block;
}
.top-and-down{
    animation: top-and-down 2s infinite linear;
}
@keyframes top-and-down {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

/* form */
.cloth-Form{
    display: none;
}
.open-Form{
    display: block;
}
.animate-Open{
    animation: animate-Open 0.10s 1;
}
@keyframes animate-Open {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.animate-close{
    animation: animate-close 0.10s 1;
}
@keyframes animate-close {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

/** mobile mode */
@media (max-width : 767px){
    .show-btn{
        display: inline;
    }
    .blockedLinks{
        display: block !important;
        text-align: left;
    }
    .toggle-slide{
        display: none;
    }
    .mobile-width{
        width: 95% !important;
    }
    .padding-mobile{
        padding: 0 !important;
    }
    .hide-img-brand-home{
        display: none;
    }
    .hide-img{
    display: none !important;
    }
    .place-center{
        justify-content: center;
    }
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* * to soft scroll */
html{
    scroll-behavior: smooth;
}

/* * animated loading page */
.img-loading-page{
    animation: img-loading-page 1s 1 linear;
}
@keyframes img-loading-page {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.dotted-mode{
    display: inline-block;
    width: 14ch;
    overflow: hidden;
    white-space: nowrap;
    animation: dotted-mode 2s infinite linear;
}
@keyframes dotted-mode {
    from{
        width: 6.5ch;
    }
    to{
        width: 14ch;
    }
}
.show-and-hide{
    visibility: hidden;
    animation: show-and-hide 3s 1 linear;
}
@keyframes show-and-hide {
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}
/* * end animated loading page */

/** change icon animate */
.change-icon{
    animation: change-icon 0.25s 1 linear;
}
@keyframes change-icon {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

/* * hover cart & heart & save*/
.chang-mode{
    animation: chang-mode 2s infinite linear;
}
@keyframes chang-mode {
    0%{
        color: #d0b57d;
    }
    25%{
        color: white;
    }
    50%{
        color: #d0b57d;
    }
    75%{
        color: white;
    }
    100%{
        color: #d0b57d;
    }
}
.chang-mode-heart{
    animation: chang-mode-heart 2s infinite linear;
}
@keyframes chang-mode-heart {
    0%{
        color: #d0b57d;
    }
    25%{
        color: red;
    }
    50%{
        color: #d0b57d;
    }
    75%{
        color: red;
    }
    100%{
        color: #d0b57d;
    }
}
.chang-mode-save{
    animation: chang-mode-save 2s infinite linear;
}
@keyframes chang-mode-save {
    0%{
        color: #d0b57d;
    }
    25%{
        color: rgb(0, 200, 0);
    }
    50%{
        color: #d0b57d;
    }
    75%{
        color: rgb(0, 200, 0);
    }
    100%{
        color: #d0b57d;
    }
}

/** hide toggle */
.hideBtn{
    display: none;
}

/** hover style */
.blockedLinksHover{
    position: relative;
    text-decoration: none;
}
.blockedLinksHover::after{
    content: '';
    position: absolute;
    width: 0; 
    height: 2px; 
    bottom: -5px; 
    left: 0;
    background-color: #d0b57d; 
    transition: width 0.3s ease-in-out; 
}
.blockedLinksHover:hover::after{
    width: 100%;
}

.hover-add-button{
    position: relative;
    background: none;
    overflow: hidden;
}
.hover-add-button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #d0b57d; 
    transition: height 0.3s ease-in-out; 
    z-index: -1;
}
.hover-add-button:hover{
    color: black;
}
.hover-add-button:hover::after{
    height: 100%;
}

.hover-link-home{
    position: relative;
    background: none;
    overflow: hidden;
}
.hover-link-home::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #d0b57d;
    transition: height 0.3s ease-in-out; 
    z-index: -1;
}
.hover-link-home:hover{
    color: black;
}
.hover-link-home:hover::after{
    height: 100%;
}

.hover-add-product{
    position: relative;
    background: none;
    overflow: hidden;
    z-index: 1;
}
.hover-add-product::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #d0b57d; 
    transition: height 0.3s ease-in-out; 
    z-index: -1;
}
.hover-add-product:hover{
    color: black;
}
.hover-add-product:hover::after{
    height: 100%;
}

/** shadow img */
.shadow-img{
    box-shadow: 21px 20px 0px 20px white;
}

/* capital letter */
.capital-letter::first-letter{
    text-transform: uppercase;
}

/* password */
.cloth-password{
    display: none;
}
.open-password{
    display: block;
}
.top-and-down{
    animation: top-and-down 2s infinite linear;
}
@keyframes top-and-down {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

/* form */
.cloth-Form{
    display: none;
}
.open-Form{
    display: block;
}
.animate-Open{
    animation: animate-Open 0.10s 1;
}
@keyframes animate-Open {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.animate-close{
    animation: animate-close 0.10s 1;
}
@keyframes animate-close {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

/** mobile mode */
@media (max-width : 767px){
    .show-btn{
        display: inline;
    }
    .blockedLinks{
        display: block !important;
        text-align: left;
    }
    .toggle-slide{
        display: none;
    }
    .mobile-width{
        width: 95% !important;
    }
    .padding-mobile{
        padding: 0 !important;
    }
    .hide-img-brand-home{
        display: none;
    }
    .hide-img{
    display: none !important;
    }
    .place-center{
        justify-content: center;
    }
>>>>>>> 5c1a98642fd8a48ea9186025de7f2d66ff05a194
}